!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", http: {equiv: "X-UA-Compatible"}}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title CGC Docs | #{current_page.data.title}
    = stylesheet_link_tag "application"

  %body{class: page_classes}
    #container
      #nav_col
        #logo
          %a{href: '/'}
            CGC Docs, published by Legitimate Business Syndicate
        #nav
          %ul
            - prev_section = nil
            - titled_resources = sitemap.resources.select{|r| r.data[:title] }
            - sorted_resources = titled_resources.sort_by{|r| (r.url.split('/')[1..2] || ['', '']) + [r.data[:title]]}
            - sorted_resources.each do |r|
              - section = r.url.split('/')[1..-2]
              - if section != prev_section && !section.nil?
                - prev_section = section
                %li.hdr= section.join('/')
              %li
                %a{href: r.url}= r.data[:title]

      #main_col
        #title
          %h1= current_page.data[:title]
        #content
          ~ yield
    %footer
      %div#impressum Published by Legitimate Business Syndicate
      %div#timestamp Built at #{Time.now.utc.xmlschema}
      %div
        :markdown
          * [Homepage](https://legitbs.net)
          * [Twitter](https://twitter.com/legitbs_ctf)
          * [GitHub](https://github.com/legitbs)
          * [This repo](https://github.com/legitbs/cgc-docs)
    = javascript_include_tag "https://code.jquery.com/jquery-2.1.1.min.js"
    = javascript_include_tag "application"
